html {
    background-color: #1c87c9;
}

h1 {
    color: white;  
}

table {
    width: 600px;
    background-color: lightblue;
}

table img {
    width: 200px;
    height: 150px;
    padding: 10px;
    border: solid 3px blue;
}

table, th, td {
    border: solid 1px black;
    border-collapse: collapse;
}

table caption {
    color: white;
    caption-side: bottom;
}

#pictureCell {
    text-align: center;
}

.text {
    text-align: center;
}